#infos h2,
#infos-github {
    text-align: center;
}

#infos-github {
    padding: 10px 0;
    font-size: 0.8em;
}

#infos p {
    text-align: justify;
}

#quote {
    font-size: 0.8em;
    font-style: italic;
}

#quote-author {
    font-size: 0.9em;
    text-align: end;
}

.medium-icon {
    width: 4rem;
}

figure {
    margin-top: 20px;
}